@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* GENERAL SETTINGS */
:root {
  --nav-footer-primary-bg-color: #2c3e50;
  --footer-secondary-bg-color: #3a546d;
  --text-color: #ffffff;
  --primary-bg-color: #1abc9c;
  --section-bg-color: #ffffff;
}

h1,
h2,
h3,
p,
ol,
ul,
a,
strong,
span,
i {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style: none;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.container,
.container-sm,
.container-md,
.container-xl,
.container.xxl,
.container-fluid {
  transition: 0.2s max-width linear !important;
}

/* HEADER */

header {
  background-color: var(--nav-footer-primary-bg-color);
}

header .icon-wrapper {
  transition: 0.3s linear background-color;
  cursor: pointer;
}

header .icon-wrapper:hover {
  background-color: var(--footer-secondary-bg-color);
}

header ul li {
  cursor: pointer;
}

/* HERO SECTION */

.hero {
  background-color: var(--primary-bg-color);
}

.skills li {
  position: relative;
}

.star {
  font-size: 1.8rem;
  position: relative;
}

.hero img {
  transition: 0.2s width linear !important;
}

.star::before {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -3.1rem;
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.625rem;
  background-color: var(--text-color);
  transition: 0.3s linear width, 0.3s linear left;
}

.star::after {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 5.2rem;
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.625rem;
  background-color: var(--text-color);
  transition: 0.3s linear width, 0.3s linear left;
}

.skills li::before {
  width: 0.3125rem;
  height: 0.125rem;
  content: "";
  position: absolute;
  display: table;
  top: 50%;
  right: -0.625rem;
  background-color: var(--text-color);
  border-radius: 0.625rem;
}

.not-before::before {
  display: none !important;
}

/* PORTFOLIO SECTION */

.black-star {
  font-size: 1.8rem;
  position: relative;
}

.black-star i {
  color: var(--nav-footer-primary-bg-color);
}

.black-star::before {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -3.1rem;
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.625rem;
  background-color: var(--nav-footer-primary-bg-color);
  transition: 0.3s linear width, 0.3s linear left;
}

.black-star::after {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 5.2rem;
  width: 5rem;
  height: 0.25rem;
  border-radius: 0.625rem;
  background-color: var(--nav-footer-primary-bg-color);
  transition: 0.3s linear width, 0.3s linear left;
}

.card img {
  max-width: 100%;
}

/* ABOUT SECTION */

.about {
  background-color: var(--primary-bg-color);
}

/* MEDIA */

@media (min-width: 768px) {
  .star::before,
  .black-star::before {
    width: 6rem;
    left: -3.5rem;
  }
  .star::after,
  .black-star::after {
    width: 6rem;
    left: 5.6rem;
  }
  .about .col {
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .w-xl-75 {
    width: 75% !important;
  }
}

@media (min-width: 1200px) {
  .star::before,
  .black-star::before {
    width: 8rem;
    left: -4.5rem;
  }
  .star::after,
  .black-star::after {
    width: 8rem;
    left: 6.6rem;
  }
}

@media (min-width: 1400px) {
}
